:root {
    /* Colors */
    --primary-color: #557184;
    --secondary-color: #65BD94;
    --tertiary-color: #E7E4C8;
    --quaternary-color: #AE2D44;
      /* Font Sizes */
      --font-size-lg: 48px;
      --font-size-md: 24px;
      --font-size-sm: 18px;
      --font-size-ti: 12px;
}
/* * {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;;
} */
body {
  margin: 0;
}

header {
    background-color:lightgray
}
div.title {
    
    color:black;
    text-align: center;
}
div.title h1 {
    padding: 10px;
}

/* Main content */
main.dashboard {
    background-color: rgb(247, 247, 247);
    
}

div.dateMonth p.card-title {
    font-weight: bold;
    color: white;
}

/* .horizontal-scroll > .row > {
    overflow-x: auto;
  white-space: nowrap;
}
.horizontal-scroll > .row > .card-body p-1 {
    display: inline-block;
  float: none;
} */

.horizontal-scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 800px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Left Sidebar */

#leftC{
    background-color:lightgray;
}
#search-btn {
    font-weight:bold; 
    background-color: #AE2D44;
    color: white;
}

#submit-btn {
    background-color:#AE2D44;
    color:white;
}

.title2 {
    font-size: var(--font-size-md);
}

.card {
    background-color: #AE2D44
}

.text-muted {
    color: white !important;
}